:root{
    --white-color:#fff;
    --text-color:#555;
    --primary-color:#f65e39;
    --border-color:#e6e6e6;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-padding-top:80px;
}

.grid{
    width: 1312px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.grid__column-2{
    padding-left: 8px;
    padding-right: 8px;
    width: 50%;
}

.grid__column-3{
    padding-left: 8px;
    padding-right: 8px;
    width: 33.333%;
}

.grid__column-4{
    padding-left: 8px;
    padding-right: 8px;
    width: 25%;
}

.grid__column-5{
    padding-left: 8px;
    padding-right: 8px;
    width: 20%;
}


/* CONTENT */
.content__container{
    margin-top: 80px;
}

.content__header{
    font-size: 2.4rem;
}
.content__sub-header{
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 0 0 16px;
    display: inline-block;
}